@import url(main.css);

:root {
    /* every css file should include this root */
    --clr-blue-50: #fafdff;
    --clr-blue-100: #ddedfc;
    --clr-blue-200: #c2e0fb;
    --clr-blue-300: #99cdf7;
    --clr-blue-400: #68b1f2;
    --clr-blue-500: #4592ec;
    --clr-blue-600: #3076e0;
    --clr-blue-700: #2761ce;
    --clr-blue-800: #264fa7;
    --clr-blue-900: #244584;
    --clr-blue-950: #1f335f;
    --clr-blue-1000: #172748;
    --clr-blue-1050: #0e1629;

    --ff-Montserrat: 'Montserrat';
    --ff-Inter: 'Inter';

    --hover-duration-slow: 350ms;
    --hover-duration-normal: 300ms;
    --hover-duration-fast: 200ms;
}

.hero {
    min-height: 90vh;
    background-image: linear-gradient(rgba(10, 14, 21, 0.8)),
        url(/images/BMW-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding-top: 8rem;
    padding-left: 9rem;
    color: var(--clr-blue-50);
    --gap: 2.5rem;
}

.heroTitle {
    font-family: var(--ff-Montserrat);
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: var(--gap);
}

.heroTitle span {
    color: var(--clr-blue-500);
}

.heroParagraph {
    font-size: 1.175rem;
    margin-bottom: var(--gap);
}

.heroButton {
    background-color: var(--clr-blue-600);
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: var(--hover-duration-normal);
    cursor: pointer;
}

.heroButton:hover {
    background-color: var(--clr-blue-800);
}

.featuredVehiclesTitle {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
    font-family: var(--ff-Montserrat);
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.featuredVehiclesParagpraph {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.featuredVehiclesGridLayout {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
    gap: 2.5rem;
}

.featuredVehiclesGridLayoutCard {
    max-width: 280px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 4rem;
}

.featuredVehiclesGridLayoutCard img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.CardInformation {
    padding: 1.5rem;
}

.cardTitle {
    margin-bottom: 0.5rem;
}

.cardParagpraph {
    font-size: 0.85rem;
    opacity: 70%;
    margin-bottom: 0.5rem;
}

.cardPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardPrice p {
    opacity: 100%;
    font-weight: 800;
    font-size: 1.25rem;
}

.cardPrice p span {
    font-weight: 500;
    opacity: 70%;
    font-size: 0.9rem;
}

.cardPrice button {
    background-color: var(--clr-blue-100);
    color: var(--clr-blue-600);
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: var(--hover-duration-normal);
    cursor: pointer;
}

.cardPrice button:hover {
    background-color: var(--clr-blue-200);
}
