:root {
    /* every css file should include this root */
    --clr-blue-50: #fafdff;
    --clr-blue-100: #ddedfc;
    --clr-blue-200: #c2e0fb;
    --clr-blue-300: #99cdf7;
    --clr-blue-400: #68b1f2;
    --clr-blue-500: #4592ec;
    --clr-blue-600: #3076e0;
    --clr-blue-700: #2761ce;
    --clr-blue-800: #264fa7;
    --clr-blue-900: #244584;
    --clr-blue-950: #1f335f;
    --clr-blue-1000: #172748;
    --clr-blue-1050: #0e1629;

    --ff-Montserrat: 'Montserrat';
    --ff-Inter: 'Inter';

    --hover-duration-slow: 350ms;
    --hover-duration-normal: 300ms;
    --hover-duration-fast: 200ms;
}

.hero {
    background-color: var(--clr-blue-1000);
    min-height: 13rem;
    margin-bottom: 3rem;
}

.heroInformation {
    color: var(--clr-blue-50);
    min-height: 13rem;
    max-width: 1250px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroInformation h1 {
    font-size: 2.225rem;
    margin-bottom: 0.25rem;
}

.heroInformation p {
    font-size: 1.25rem;
}

.citiesLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1350px;
    margin: 3rem auto;
    border-radius: 8px;
}

.citiesLayoutCard {
    border-radius: inherit;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: var(--hover-duration-normal);
}

.citiesLayoutCard:hover {
    transform: scale(1.02);
}

.cardImageContainer {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: inherit;
}

.citiesLayoutCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
}

.cardImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--clr-blue-1050) 30%, var(--clr-blue-700) 100%);
    opacity: 0.4;
    border-radius: inherit;
}

.cardImageText {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.3rem;
}

.cardImageText h2 {
    font-size: 1.3rem;
    color: var(--clr-blue-50);
    text-shadow: 0 3px 9px var(--clr-blue-1050);
}

.cardImageText p {
    font-size: 1rem;
    color: var(--clr-blue-50);
    text-shadow: 0 3px 9px var(--clr-blue-1050);
}

.cardInfo {
    padding: 0.7rem 0.8rem;
    display: grid;
    gap: 0.6rem;
}

.cardInfoIconText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cardInfoIconText p {
    font-size: 0.935rem;
}