/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root is a selector that represents the highest level of the document tree */
:root {
    /* every css file should include this root */
    --clr-blue-50: #fafdff;
    --clr-blue-100: #ddedfc;
    --clr-blue-200: #c2e0fb;
    --clr-blue-300: #99cdf7;
    --clr-blue-400: #68b1f2;
    --clr-blue-500: #4592ec;
    --clr-blue-600: #3076e0;
    --clr-blue-700: #2761ce;
    --clr-blue-800: #264fa7;
    --clr-blue-900: #244584;
    --clr-blue-950: #1f335f;
    --clr-blue-1000: #172748;
    --clr-blue-1050: #0e1629;

    --ff-Montserrat: 'Montserrat';
    --ff-Inter: 'Inter';

    --hover-duration-slow: 350ms;
    --hover-duration-normal: 300ms;
    --hover-duration-fast: 200ms;
}

/* basic CSS resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    line-height: 1.5;
}

body {
    font-family: var(--ff-Inter), Arial, sans-serif;
    color: var(--clr-blue-1000);
    background-color: var(--clr-blue-50);
}

/* so images and etc., won't overflow */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* header with nav bar */
header {
    background-color: var(--clr-blue-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    font-weight: bold;
    z-index: 999;
}

.headerLogo {
    width: 130px;
    margin-left: 2rem;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 4rem;
}

.headerNavList {
    display: flex;
    gap: 2rem;
    font-size: 1.15rem;
}

.headerNavList li {
    transition: var(--hover-duration-normal);
}

.headerNavList li:hover {
    color: var(--clr-blue-600);
}

.headerButton {
    background-color: var(--clr-blue-600);
    color: white;
    font-weight: 600;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    transition: var(--hover-duration-normal);
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--clr-blue-800);
}

.dropDown {
    position: absolute; /* without it the dropdown menu won't overflow */
    background-color: white;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 200px;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    /* it's 10px above from it's normal place */
    transform: translateY(-10px);
    transition: var(--hover-duration-slow);
}

/* when the parent is hovered, the .dropDown will change */
.dropDownParent:hover .dropDown {
    opacity: 100%;
    visibility: visible;
    /* it's back at it's original place */
    transform: translateY(0);
}

.dropDownElement {
    display: block;
    padding: 12px 14px;
    color: var(--clr-blue-1000);
    transition: var(--hover-duration-normal);
}

.dropDownElement:hover {
    background-color: var(--clr-blue-100);
    color: var(--clr-blue-600);
}

/* footer */
footer {
    background-color: var(--clr-blue-1050);
    color: var(--clr-blue-50);
    padding: 2.5rem 0;
    line-height: 1.7;
}

.footerGridLayout {
    max-width: 1230px;
    /* makes the left and right margin equal */
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 2.5rem;
}

.footerTitle {
    font-size: 1.125rem;
    margin-bottom: 0.8rem;
}

.footerParagraph {
    font-size: 0.8rem;
    opacity: 60%;
}

.footerContactIconAndParagraph {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.footerSocialMediaIcons {
    display: flex;
    gap: 0.9rem;
}

.footerSocialMediaIcons a,
.footerQuickLinks a {
    transition: var(--hover-duration-fast);
}

.footerSocialMediaIcons a:hover,
.footerQuickLinks a:hover {
    opacity: 60%;
}

.footerLine {
    max-width: 1250px;
    opacity: 10%;
    margin: 1.5rem auto;
}

.footerCopyRight {
    text-align: center;
}
