:root {
    /* every css file should include this root */
    --clr-blue-50: #fafdff;
    --clr-blue-100: #ddedfc;
    --clr-blue-200: #c2e0fb;
    --clr-blue-300: #99cdf7;
    --clr-blue-400: #68b1f2;
    --clr-blue-500: #4592ec;
    --clr-blue-600: #3076e0;
    --clr-blue-700: #2761ce;
    --clr-blue-800: #264fa7;
    --clr-blue-900: #244584;
    --clr-blue-950: #1f335f;
    --clr-blue-1000: #172748;
    --clr-blue-1050: #0e1629;

    --ff-Montserrat: 'Montserrat';
    --ff-Inter: 'Inter';

    --hover-duration-slow: 350ms;
    --hover-duration-normal: 300ms;
    --hover-duration-fast: 200ms;
}

.hero {
    background-color: var(--clr-blue-1000);
    min-height: 13rem;
    margin-bottom: 3rem;
}

.heroInformation {
    color: var(--clr-blue-50);
    max-width: 1250px;
    margin-inline: auto;
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroInformation h1 {
    font-size: 2.225rem;
    margin-bottom: 0.25rem;
}

.heroInformation p {
    font-size: 1.25rem;
}

.rentablesToolbar {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.rentablesSearch {
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    min-width: 600px;
    transition: var(--hover-duration-normal);
}

/* with .rentablesSearch:focus it doesn't work */
.rentablesSearch:focus-within {
    border-color: var(--clr-blue-500);
    transform: scale(1.02);
}

.rentablesSearch input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.1rem;
    margin-left: 0.5rem;
    opacity: 90%;
}

.rentablesActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rentablesFilter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--clr-blue-50);
    border: 2px solid rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--hover-duration-normal);
}

.rentablesFilter:hover {
    border-color: var(--clr-blue-500);
    transform: scale(1.04);
}

.rentablesBrands {
    border: 2px solid rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    padding: 0.6rem 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--hover-duration-normal);
}

.rentablesBrands:focus {
    border-color: var(--clr-blue-500);
    transform: scale(1.04);
}

.rentablesGridLayout {
    max-width: 1350px;
    margin-inline: auto;
}

/* they are row by row with divs, so I can use the 'appear' animation on each row */
.rentablesGridLayoutRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.rentablesCard {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 2rem;
    transition: var(--hover-duration-normal);
}

.rentablesCard img {
    width: 100%;
    height: 210px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.rentablesCardInformation {
    padding: 1.5rem;
}

.rentablesCardTitle {
    margin-bottom: 0.5rem;
}

.rentablesCardParagraph {
    font-size: 0.85rem;
    opacity: 70%;
    margin-bottom: 1.125rem;
}

.rentablesCardPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rentablesCardPrice p {
    opacity: 100%;
    font-weight: 800;
    font-size: 1.35rem;
}

.rentablesCardPrice p span {
    font-weight: 500;
    opacity: 70%;
    font-size: 1rem;
}

.rentablesCardPrice button {
    background-color: var(--clr-blue-100);
    color: var(--clr-blue-600);
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: var(--hover-duration-normal);
    cursor: pointer;
}

.rentablesCardPrice button:hover {
    background-color: var(--clr-blue-200);
}

.rentablesCard:hover {
    transform: scale(1.03);
    /* makes it grown in size when it's hovered */
}

.heroUniqueCars {
    background-color: var(--clr-blue-1000);
}

.heroUniqueCarsInformation {
    color: var(--clr-blue-50);
    max-width: 1250px;
    margin-inline: auto;
    min-height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroUniqueCarsInformation a {
    color: var(--clr-blue-300);
    margin-bottom: 0.5rem;
    transition: var(--hover-duration-fast);
}

.heroUniqueCarsInformation a:hover {
    color: var(--clr-blue-200);
}

.heroUniqueCarsInformation h1 {
    font-size: 2.225rem;
}

.heroUniqueCarsInformation p {
    font-size: 1.25rem;
    color: var(--clr-blue-300);
}

.details {
    max-width: 1400px;
    margin: 3rem auto 2rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    border-radius: 8px;
}

/* first half */
.detailsCars {
    border-radius: inherit;
}

.detailsCarsTitle {
    color: var(--clr-blue-900);
    font-size: 1.45rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.detailsCarsSections {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: inherit;
    padding: 1.35rem;
}

.detailsCarsImage img {
    border-radius: inherit;
    object-fit: cover;
    /* fits the image, without stretching it */
}

.detailsCarsDescription {
    opacity: 80%;
}

.detailsCarsSpecifics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.35rem;
}

.detailsCarsSpecificsItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.detailsCarsSpecificsItem svg {
    background-color: var(--clr-blue-100);
    padding: 5px;
    border-radius: 8px;
}

.itemsTitleParagraph h3 {
    font-size: 0.975rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.itemsTitleParagraph p {
    font-size: 0.875rem;
    opacity: 80%;
}

.detailsCarsFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.35rem;
}

.detailsCarsFeaturesItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.975rem;
}

/* second half */
.detailsBook {
    /* when the page is scrolled, the section will stay on the screen */
    position: sticky;
    top: 7rem;
    /* because it overflows into the navbar */
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 290px;
    border-radius: inherit;
    padding: 1.5rem;
}

.detailsPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsPrice span {
    font-size: 2rem;
    color: var(--clr-blue-800);
    font-weight: 700;
}

.detailsParagraph {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.875rem;
    opacity: 80%;
    margin-bottom: 1rem;
}

.detailsButtonBook {
    background-color: var(--clr-blue-600);
    color: var(--clr-blue-50);
    width: 100%;
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--hover-duration-normal);
    margin-bottom: 1rem;
}

.detailsButtonBook:hover {
    background-color: var(--clr-blue-800);
    scale: 1.03;
}

.detailsButtonAdd {
    background-color: var(--clr-blue-50);
    color: var(--clr-blue-600);
    border: 1px solid var(--clr-blue-600);
    width: 100%;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 5px;
    transition: var(--hover-duration-normal);
    cursor: pointer;
}

.detailsButtonAdd:hover {
    background-color: var(--clr-blue-100);
    scale: 1.03;
}