:root {
    /* every css file should include this root */
    --clr-blue-50: #fafdff;
    --clr-blue-100: #ddedfc;
    --clr-blue-200: #c2e0fb;
    --clr-blue-300: #99cdf7;
    --clr-blue-400: #68b1f2;
    --clr-blue-500: #4592ec;
    --clr-blue-600: #3076e0;
    --clr-blue-700: #2761ce;
    --clr-blue-800: #264fa7;
    --clr-blue-900: #244584;
    --clr-blue-950: #1f335f;
    --clr-blue-1000: #172748;
    --clr-blue-1050: #0e1629;

    --ff-Montserrat: 'Montserrat';
    --ff-Inter: 'Inter';

    --hover-duration-slow: 350ms;
    --hover-duration-normal: 300ms;
    --hover-duration-fast: 200ms;
}

.hero {
    background-color: var(--clr-blue-1000);
}

.heroInformation {
    color: var(--clr-blue-50);
    min-height: 13rem;
    max-width: 1250px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroInformation h1 {
    font-size: 2.225rem;
    margin-bottom: 0.25rem;
}

.heroInformation p {
    font-size: 1.25rem;
}

.raitings {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.raitingsInformation {
    color: var(--clr-blue-900);
    min-height: 13rem;
    max-width: 1250px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.raitingsInformation h2 {
    font-family: var(--ff-Montserrat);
    font-size: 2.35rem;
}

.raitingsInformation p {
    font-size: 0.9rem;
    opacity: 85%;
}

.reviews h3 {
    font-size: 1.8rem;
    color: var(--clr-blue-900);
    text-align: center;
    margin: 3rem 0 2.5rem 0;
}
